.root {
    -fx-accent: #1e74c6;
    -fx-focus-color: -fx-accent;
    -fx-base: #373e43;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background ;
}

.label{
    -fx-text-fill: white;
    -fx-font-size: 15;
}

.text-field {
    -fx-prompt-text-fill: gray;
}

.check-box{
    -fx-set-focus-traversable: false;
}

.titulo{
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}

.button{
    -fx-focus-traversable: false;
    -fx-background-radius:20px;
    -fx-font-size: 15;
    -fx-border: none;
    -fx-border-size: 1px;
}

.separator *.line {
    -fx-background-color: lightgray;
    -fx-border-style: solid;
    -fx-border-width: 2px;
}

.left_spacing {
    -fx-margin-left: 20px;
}

.scroll-bar{
    -fx-background-color: derive(-fx-base,45%)
}

/*.button:default {
    -fx-base: -fx-accent ;
}
*/

.table-view{
    /*-fx-background-color: derive(-fx-base, 10%);*/
    -fx-selection-bar-non-focused: derive(-fx-base, 50%);
}

.table-view .column-header .label{
    -fx-alignment: CENTER_LEFT;
    -fx-font-weight: none;
}

.list-cell:even,
.list-cell:odd,
.table-row-cell:even,
.table-row-cell:odd{
    -fx-control-inner-background: derive(-fx-base, 15%);
}

.list-cell:empty,
.table-row-cell:empty {
    -fx-background-color: transparent;
}

.list-cell,
.table-row-cell{
    -fx-border-color: transparent;
    -fx-table-cell-border-color:transparent;
}


/* My additional css */
.heading {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 25;
}

.menu, .menu-item{
    -fx-cursor: hand;
}

.menu:hover, .menu:showing{
    -fx-background-color: gray;
}

.menu-item:hover{
    -fx-background: gray;
}


.shortcut_keys_holder{
    -fx-text-fill: white;
    -fx-font-style: italic;
    -fx-border-color: black;
    -fx-cursor: hand;
    -fx-font-size: 15;
}

.tool-bar {
    -fx-spacing: 20px;
}

.shortcut_keys_holder:hover{
    -fx-text-fill: lightgray;
    -fx-background-color: gray;
}

.button:hover{
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.list-cell:selected:filled:hover {
  -fx-view-order: -1;
  -fx-effect: dropshadow(gaussian, #67676D, 12, 0.05, 0.0, 2);
}

.total_duration{
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}






.slider {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-border-insets: 0;
}

.slider .thumb {
    -fx-background-color: red;
    -fx-pref-width: 0;
}

.slider .track {
    -fx-background-color: null;
    -fx-pref-height: 20px;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-border-insets: 0;
}

.progress-bar {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.progress-bar .track{
    -fx-background-color: #2d333a;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.progress-bar .bar {
    -fx-background-color: #00b4d8;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}